.header {
  padding: 3rem;
  text-align: center;
}

.pconfig {
  padding: 2em 2rem 1rem 5rem;
  text-align: left;
  background-attachment: fixed;
  background-position: center;
  background-color: rgb(250, 255, 255);
}

.icon {
  height: 42px;
}
 
.content {
  display: flex;
  justify-content: center !important;
}
 
form {
  flex: 0 0 80%;
  padding: 2rem 2rem 1rem 2rem;
  border: 1px solid #ccc;
  border-radius: .25rem;
  text-align: center;
}

CSS
.stats{
  text-align: center;
}



.stats{
  text-align: center;
}
 